[user]
	email = developer@icepicky.com
	name = Jose Ibarra
[color]
	ui = auto
[commit]
	template = ~/.gitmessage.txt
[core]
	excludesfile = ~/.gitignore_global
[push]
        default = current
[init]
        defaultBranch = main

