[user]
	email = developer@icepicky.com
	name = Jose Ibarra

[color]
	ui = auto

[commit]
	template = ~/.dotfiles/config/git/.gitmessage.txt
	gpgsign = true
	verbose = true

[core]
	excludesfile = ~/.dotfiles/config/git/.gitignore_global

[push]
	default = current
	autoSetupRemote = true
	followTags = true

[init]
	defaultBranch = main

[credential]
	helper = osxkeychain

[include]
	path = ~/.machine_specific_gitconfig

[gpg]
	format = ssh

[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[alias]
	pushfwl = push --force-with-lease
	pushfl = push --force-with-lease
[column]
	ui = auto
[branch]
	sort = -committerdate
[diff]
	algorithm = histogram
	colorMoved = plain
	renames = true
	mnemonicPrefix = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
[pull]
	rebase = true
